src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="general-insurance-company-pvt-ltd-config" api="resource::990ba818-74e6-457e-bbde-8fee5c0cdff6:general-insurance-company-pvt-ltd:1.0.0:raml:zip:general-insurance-company-pvt-ltd.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="general-insurance-company-pvt-ltd-main">
        <http:listener config-ref="general-insurance-company-pvt-ltd-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="general-insurance-company-pvt-ltd-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="general-insurance-company-pvt-ltd-console">
        <http:listener config-ref="general-insurance-company-pvt-ltd-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="general-insurance-company-pvt-ltd-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\claim:general-insurance-company-pvt-ltd-config">
		<flow-ref doc:name="Flow Reference" doc:id="f6dd32fe-cbea-4a04-b0eb-52e3033b1d0a" name="get-claim"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  claim_number: 90987,
  date_of_claim: "10/10/2022",
  premium: 2000,
  status: "Active"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\policy:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="6495a517-1a6d-45e2-a70d-c0876181ea9a" name="get-policy"/>
		<logger level="INFO" message="put:\policy:general-insurance-company-pvt-ltd-config" />
    </flow>
    <flow name="put:\vehicle:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="94072257-bdf9-4c2d-aadf-6c96aadf39e7" name="get-vehicle"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  make: "Honda",
  model: "Motor Cycle",
  owner: "Sonali",
  vehicle_reg_number: 1234,
  chassis_number: 5678,
  year_of_manufacture: "2020"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\claim:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="8065f0bb-9e0c-44a4-9dcd-2b84de6494db" name="get-claim"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  claim_number: 90987,
  date_of_claim: "10/10/2022",
  premium: 2000,
  status: "Active"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\insurance-company:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="ff251eb6-a9c6-427d-b8c5-e191f0e8e26f" name="get-insurancecompany"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  insurance_company_number: 1,
  insurance_company_address: "14th cross,baner road    bangaluru",
  insurance_company_name: "sbi life"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\policy:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="4efe0583-2d11-421e-ae64-0147c2be2d8d" name="get-policy"/>
		<logger level="INFO" message="get:\policy:general-insurance-company-pvt-ltd-config" />
    </flow>
    <flow name="get:\policyholder:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="a2ff4ec5-3fc9-4b7f-8e72-a77ab4388c4e" name="get-policyholder"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  policyholder_name: "Sonali",
  policyholder_id: 122,
  policyholder_age: 28,
  policyholder_mobile_number: 8987656765,
  policyholder_account_number: 2027864523,
  policyholder_email_id: "sonali.sbi@gmail.com",
  premium_name: "quaterly",
  premium_amount: 40000,
  policyholder_billing_address: "new colony.3rd stage, vashi, mumbai",
  status: "Active"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\premium:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="ffacc71a-a0fa-4a68-b495-f3c77eff07a5" name="get-premium"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  premium_number: 65458,
  policy_maturity_date: "2036-11-09T12:00:00",
  premium: "quaterly",
  status: "Active"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\receipt:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="fb34c6b1-92c4-4782-a6c3-e9e5b437a7ff" name="get-receipt"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  receipt_date: "04-10-2022",
  receipt_number: 123,
  amount_received: 1234,
  company_name: "SBIG"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\vehicle:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="44223d5a-5c44-4e86-8d0f-c6b819257515" name="get-vehicle"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  make: "Honda",
  model: "Motor Cycle",
  owner: "Sonali",
  vehicle_reg_number: 1234,
  chassis_number: 5678,
  year_of_manufacture: "2020"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\policy\(policywithID):general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="966723f9-221a-4f04-9292-26fc1c2734b0" name="get-policy"/>
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="policywithID">attributes.uriParams.'policywithID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  policy_effective_date: "2022-09-30",
  policy_expiry_date: "2032-09-29",
  policy_number: "123",
  premium: 80000,
  status: "Active"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\policyholder:application\json:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="b50ad0a6-f9f3-48f8-9104-fa763196aa92" name="get-policyholder"/>
		<logger level="INFO" message="post:\policyholder:application\json:general-insurance-company-pvt-ltd-config" />
    </flow>
    <flow name="post:\vehicle:application\json:general-insurance-company-pvt-ltd-config">
        <flow-ref doc:name="Flow Reference" doc:id="78006ca9-0b35-4080-91e9-899d8075c63b" name="get-vehicle"/>
		<logger level="INFO" message="post:\vehicle:application\json:general-insurance-company-pvt-ltd-config" />
    </flow>
</mule>
